.home{
    width:1980px;
    height:2100px;
}
.twohome{
    display:grid;
    grid-template-columns:repeat(2, 630px);
    grid-gap:50px;
    margin-top:100px;
    right:50px;
    position:absolute;
left:50%;
transform:translateX(-50%);
width:1310px;
}
.autocomplete{
    position:absolute;
    top:78px;
    width:725px;
    list-style: none;
    margin:0;
    padding:0;
    z-index:100;
    max-height:240px;
    height:auto;
    overflow:auto;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 23px;
    height:200px;
   
}
.autocompleteItem{
    padding:10px;
    border: 3px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 20px;  
    position:relative;
    background: white;
}
.autocompleteItem:hover{
    background-color:#848388;
    cursor:pointer;
    transition: all 0.3s;
}
.form1{
    position: absolute;
    width: 725px;
    height: 78px;
    left:50%;
    transform:translateX(-50%);
    z-index:100;
}
.formItem{
    width: 725px;
    height: 78px;
    background: #F8F8F8;
    border: 2px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 20px;  
    font-family: Gotham Pro;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 23px;


color: rgba(0, 0, 0, 0.5);
}
.search{
    position:absolute;
    left: 650px;
    top:50%;
    transform: translateY(-50%);
}
.form{
    width:725px;
    height:78px;
}