.Count{
    position:absolute;
    top:500px;
    left:100px;
}
.price{
    position:absolute;
    top:500px;
    left:500px;
}
.clear{
    position:absolute;
    cursor:pointer;
    left:600px;
}
.item{
    width:400px;
}
.HeadBlock{
    height:3000px;
}