
.what{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 46px;
    
    color: #000000;
    position: absolute;
width: 950px;
height: 69px;
left:50%;
transform: translateX(-50%);
}

.abautUs{
    width:1903px;
    height:1145px;
    background: #5C8BB6;
    border-radius: 50px;
    position:absolute;
    top:950px;
    left:50%;
    transform:translateX(-50%);
}
.link{
    position: absolute;
    width: 523px;
    height: 82px;
    left: 490px;
    top: 1850px;
    display:flex;
    justify-content: center;
    align-items:center;
    background: #FFFFFF;
    border-radius: 100px;
    left:50%;
    transform:translateX(-50%);
}
.infohead{
position: absolute;
width: 1296px;
height: 555px;
left: 50%;
transform: translateX(-50%);
top:100px;
background: #F3F3F3;
border: 3px solid #E7E7E7;
box-sizing: border-box;
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
border-radius: 50px;
font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 38px;

color: #060606;

}
.infoheadUl{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.info{
    width: 1244px;
}
.arrow{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:700px;
    
}
.someUs{
    position: absolute;
width: 485px;
height: 51px;
left: 50%;
transform:translateX(-50%);
top: 50px;

font-family: Gotham Pro;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 61px;

color: #FFFFFF;
}
.descriptionAboutUs{
    text-indent: 45px;
    left:30px;
    position: absolute;
width: 98%;
height: 1043px;
top: 150px;

font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 32px;

color: #FFFFFF;
}
.descriptionAboutUs2{
    text-indent: 45px;
    left:30px;
    position: absolute;
width: 98%;
height: 1043px;
top: 340px;

font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 32px;

color: #FFFFFF;
}
.descriptionAboutUs3{
    text-indent: 45px;
    left:30px;
    position: absolute;
width: 98%;
height: 1043px;
top: 534px;

font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 32px;

color: #FFFFFF;
}
.descriptionAboutUs4{
    position: absolute;
width: 98%;
height: 1043px;
top: 730px;
text-indent: 45px;
left:30px;
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 32px;

color: #FFFFFF;
}
.leter{
   
width: 290px;
height: 34px;

font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 32px;

color: #454545;
}
.wrapper{
    height:2150px;
    width:1903px;
}
@media (max-width:1903px) {
 .abautUs{
     max-width:1700px;
     left:50%;
     transform:translateX(-50%);
 }
 .descriptionAboutUs3{
     top:620px;
 }
 .descriptionAboutUs4{
     top:800px;
 }
 }
 @media (max-width:1700px) {
    .abautUs{
        max-width:1400px;
        left:50%;
        transform:translateX(-50%);
    }
    .descriptionAboutUs3{
        top:680px;
    }
    .descriptionAboutUs4{
        top:890px;
    }
    .descriptionAboutUs2{
        top:390px;
    }
    .link{
        top:1950px;
    }
    .nav{
        width:1300px;
    }
    }
             @media (max-width:1400px) {
                .abautUs{
                    max-width:990px;
                    left:50%;
                    transform:translateX(-50%);
                    height:1300px;
                top:800px;
                }
                .infohead{
                    width:990px;
                    font-size:30px;
                }
                .infoheadUl{
                    left:500px;
                }
                .info{
                    width:950px;
                }
                .descriptionAboutUs3{
                    top:810px;
                }
                .descriptionAboutUs{
                    top:100px;
                    width:96%;
                }
                .someUs{
                    top:30px;
                }
                .descriptionAboutUs4{
                    top:1100px;
                }
                .descriptionAboutUs2{
                    top:420px;
                }
              
                 }
                 @media (max-width:992px) {
                     .wrapper{
                         height:3000px;
                     }
                     .infohead{
                         height:800px;
                         width:768px;
                     }
                     .infoheadUl{
                        left:400px;
                    }
                    .info{
                        width:750px;
                    }
                    .descriptionAboutUs3{
                        top:1100px;
                        width:700px;
                    }
                    .descriptionAboutUs{
                        top:100px;
                        width:96%;
                    }
                    .someUs{
                        top:30px;
                    }
                    .descriptionAboutUs4{
                        top:1530px;
                    }
                    .descriptionAboutUs2{
                        top:540px;
                        width:700px;
                    }
                    .abautUs{
                        max-width:990px;
                        left:50%;
                        transform:translateX(-50%);
                        height:1800px;
                        width:768px;
                    top:1100px;
                    }
                    .arrow{
                        top:980px;
                    }
                    .link{
                        top:2700px;
                    }
                    .what{
                        font-size:36px;
                        left:50%;
                        transform: translateX(-50%);
                        position:absolute;
                        width:700px;
                    }
        
                  }
                     
                     @media (max-width:768px) {
                        .wrapper{
                            height:3000px;
                        }
                        .infohead{
                            height:800px;
                            width:576px;
                            font-size:25px;
                        }
                        .infoheadUl{
                           left:300px;
                       }
                       .info{
                           width:500px;
                       }
                       .descriptionAboutUs3{
                        font-size:27px;
                        width:550px;
                        top:1150px;
                       }
                       .descriptionAboutUs{
                        font-size:27px;
                        width:540px
                       }
                       .someUs{
                           top:30px;
                           font-size:35px;
                           width:265px;
                       }
                       .descriptionAboutUs4{
                        font-size:27px;
                        top:1650px;
                        left:0px;
                       }
                       .descriptionAboutUs2{
                        font-size:27px;
                        width:540px
                       }
                       .abautUs{
                           font-size:27px;
                           width:576px;
                       }
                       .arrow{
                           top:980px;
                       }
                       .link{
                           top:2800px;
                       }
                       .what{
                           font-size:29px;
                           left:50%;
                           transform: translateX(-50%);
                           position:absolute;
                           width:563px;
                       }
           
                   
                         }
                         @media (max-width:576px) {
                            .wrapper{
                                height:3900px;
                            }
                            .infohead{
                                height:1100px;
                                width:392px;
                                font-size:25px;
                            }
                            .infoheadUl{
                               left:200px;
                           }
                           .info{
                               width:330px;
                           }
                           .descriptionAboutUs3{
                            font-size:25px;
                            width:550px;
                            top:1510px;
                            width:370px;
                            left:5px;
                           }
                           .descriptionAboutUs{
                            font-size:25px;
                            width:370px;
                            left:5px;
                           }
                           .someUs{
                               top:30px;
                               font-size:35px;
                               width:265px;
                           }
                           .descriptionAboutUs4{
                            font-size:25px;
                            top:2150px;
                            left:0px;
                           }
                           .descriptionAboutUs2{
                            font-size:25px;
                            width:370px;
                            left:5px;
                            top:710px;
                           }
                           .abautUs{
                               height:2400px;
                               font-size:25px;
                               width:392px;
                               top:1400px;
                           }
                           .arrow{
                               top:1250px;
                           }
                           .link{
                               top:3630px;
                               width:300px;
                           }
                           .what{
                               font-size:27px;
                               text-align:center;
                               left:50%;
                               transform: translateX(-50%);
                               position:absolute;
                               width:392px;
                           }
                        }
                             
                             @media (max-width:392px) {
                        
                                 }
