.wrapper{
    background: #5C8BB6;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    height:192px;
    overflow-y: initial;
    position:relative;
    bottom:0px;
    width:1980px;
  
}
.aboutUs{
    font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 32px;
text-align: center;
top:50%;
color: #FFFFFF;
width:1800px;
    position:absolute;
    left:50%;
    transform:translate(-50%, -50%);
}