.items{
    position: absolute;
    width: 1800px;
    height: 453px;
    left: 50%;
    transform: translateX(-50%);
    top:200px;
}
.HeadBlock{
    width:50px;
}
.cross{
    border-radius: 100%;
    width:30px;
    height:30px;
    left:300px;
    position:absolute;
    cursor: pointer;
}
.CartSpan{
    margin-left:30px;
    cursor: pointer;
    
}