.nav {
  position: absolute;
  background: #f1f1f1;
  border: 0.5px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 20px;
  width: 1400px;
  height: 78px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  display: flex;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 27px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  top: 35px;
  overflow-y: initial;
}
.flex {
  position: relative;
  width: 1980px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-y: initial;
}
a {
  width: 100%;
  text-decoration: none;
  color: #191048;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 27px;
  overflow-y: initial;
}

.active {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 27px;
  color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #5c8bb6;
  border-radius: 20px;
  padding:0 20px;
}
